<!-- <p>dashboard works!</p>
<div
  class="d-flex justify-content-around align-items-center p-2"
  *ngFor="let data of userData"
>
  <div>
    <iframe
      [src]="ValidateUrl(data.pdfSrc)"
      width="300px"
      height="50px
    "
      frameborder="0"
    ></iframe> 
    {{ data.pdfSrc }}
  </div>
  <div>{{ data.lock }}</div>
  <div>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/view-documnet', data.id]"
    >
      Open
    </button>
  </div>
</div> -->

<div class="row w-100 m-0">
  <div class="col-md-3 text-center" *ngFor="let data of userData">
    <mat-card>
      <iframe
        [src]="ValidateUrl(data.pdfSrc)"
        frameborder="0"
        width="250px"
        height="300px !important"
      ></iframe>
      <div class="d-flex justify-content-between align-items-center">
        <div>Type : {{ data.lock_type }}</div>
        <div>
          <button
            mat-flat-button
            color="primary"
            [routerLink]="['/view-documnet', data.id]"
          >
            Open
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
