<div *ngIf="!userData" class="nodata-text pt-2">
  <div class="text-center img-center">
    <img
      width="250px"
      height="250px"
      src="../../../assets/undraw_no_data_re_kwbl.svg"
      alt=""
    />
    <h1 class="text-danger p-3">No data</h1>
  </div>
</div>

<div class="row w-100 m-0">
  <div class="col-md-4 p-2 text-center" *ngFor="let data of userData">
    <mat-card>
      <iframe
        [src]="ValidateUrl(data.pdfSrc)"
        frameborder="0"
        width="250px"
        height="400px !important"
      ></iframe>
      <div class="d-flex justify-content-between align-items-center">
        <div>Type : {{ data.lock_type }}</div>
        <div>
          <button
            mat-flat-button
            color="primary"
            [routerLink]="['/view-documnet', data.id]"
          >
            Open
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
