.sidePadding {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.navbar-back {
  background-color: #3f51b5;
}

.btn-width {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .btn-width {
    width: 100%;
  }
  .sidePadding {
    padding: 10px !important;
  }
  .iocn-position{
    justify-content: start !important;
    // display: flex;
  }
}

.navbar {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  color: white;
}

.navbar-tags{
  font-size: 20px;
  color: white;
  font-family: Georgia, serif;

}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-link:hover {
  background-color: #0056b3;
}

.titleFont {
  font-size: 25px;
  font-weight: 500;
  font-family: Georgia, serif;
}


.userFont {
  font-size: 18px;
  font-weight: 500;
  font-family: Georgia, serif;
}

.iocn-position{
  justify-content: end;
}

.active-clr{
  color: #04ff00;
}

.deactive-clr{
  color: white;
}