<div>
  <div>
    <input
      class=""
      type="file"
      (change)="handleFileInput($event)"
      id="fileInput"
      #fileInput
      style="display: none"
      [(ngModel)]="documents"
    />
  </div>
  <div class="p-5" *ngIf="!pdfSrc">
    <button
      (click)="onBtnClick()"
      mat-raised-button
      color="primary"
      class="buttonFont"
    >
      Add Document
    </button>
  </div>
  <div>
    <iframe
      *ngIf="pdfSrc"
      [src]="pdfSrc"
      style="width: 400px; height: 500px"
    ></iframe>
  </div>

  <div *ngIf="pdfSrc">
    <label id="example-radio-group-label">Pick your favorite season</label>
    <mat-radio-group [(ngModel)]="selectOption">
      <div *ngFor="let season of seasons" class="p-2">
        <mat-radio-button [value]="season">{{ season }}</mat-radio-button>
      </div>
    </mat-radio-group>

    <div *ngIf="selectOption === 'Password'" class="p-2">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="passwordOption"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="selectOption">
    <button
      [disabled]="
        (!passwordOption && selectOption === 'Password') || !selectOption
      "
      (click)="onGetUrl()"
      [disabled]="!selectOption"
      mat-raised-button
      color="primary"
    >
      Get URL
    </button>
  </div>
</div>
