iframe img {
  width: 250px !important;
}

iframe {
  width: 100%;
}

.buttonFont {
  font-size: 18px;
  font-weight: 500;
  font-family: Georgia, serif;
}

.title-font {
  font-size: 20px;
  font-weight: 500;
  font-family: Georgia, serif;
}

.content-font {
  font-size: 12px;
  font-weight: 400;
  font-family: Georgia, serif;
}

.card-back {
  background: aliceblue;
}
