mat-form-field {
  width: 100% !important;
}

.screen-padding {
  padding: 3rem;
}

.titleFont {
  font-size: 30px;
  font-weight: 500;
  font-family: Georgia, serif;
}

.userFont {
  font-size: 14px;
  font-weight: 500;
  font-family: Georgia, serif;
}

@media screen and (max-width: 768px) {
  .screen-padding {
    padding: 0px !important;
  }
}

.img-scale {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

mat-icon {
  color: #3f51b5;
}

.location-font {
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: 500;
}

.office-font {
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: 700;
}
