<div class="p-2">
  <div class="pt-3">
    <button class="buttonFont" mat-flat-button (click)="onHome()">Home</button>
  </div>

  <div class="pt-3">
    <button class="buttonFont" mat-flat-button (click)="onDashboard()">
      Dashboard
    </button>
  </div>

  <div class="pt-3">
    <button class="buttonFont" mat-flat-button (click)="onAbout()">
      About
    </button>
  </div>

  <div class="pt-3">
    <button class="buttonFont" mat-flat-button (click)="onContact()">
      Contact Us
    </button>
  </div>
</div>
